.Nihongo
{
    .circle
    {
        width:  1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--color);
    }

    .colorCodes
    {
        display: flex;
        gap: inherit;

        > div
        {
            display: flex;
            align-items: center;
            gap: var(--spacing-s);
        }
    }

    .japanese, .furigana, .translation, .notes
    {
        color: var(--color);
    }

    .japanese
    {
        --color: var(--blue);
    }

    .furigana
    {
        --color: var(--magenta);
    }

    .translation
    {
        --color: var(--green);
    }

    .notes
    {
        --color: var(--yellow);
    }

    .phrases
    {
        display: flex;
        flex-direction: column;
        gap: inherit;
        width: 100%;

        .phrase
        {
            overflow: hidden;
            border: var(--border);
            border-radius: var(--border-radius);
            background-color: var(--background-light);

            .content
            {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: var(--spacing-xl);

                a
                {
                    position: absolute;
                    top:  var(--spacing-l);
                    left: var(--spacing-l);
                    border: var(--border);
                    border-radius: var(--border-radius);
                    padding: var(--spacing-m);
                    background-color: var(--background-light);

                    &.anchored
                    {
                        color: var(--foreground);
                    }
                }
            }

            .japanese
            {
                span
                {
                    position: relative;
                    font-size: 2em;
                    color: inherit;

                    .furigana
                    {
                        position: absolute;
                        top: calc(var(--spacing-l) * -1);
                        left: 50%;
                        translate: -50% 0;
                        font-size: 1rem;
                        white-space: nowrap;
                    }
                }
            }

            .translation
            {
                font-size: 1.5rem;
            }

            .notes
            {
                font-size: 1.25rem;
            }

            .toggle
            {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: var(--spacing-m);
                border-top: var(--border);
                cursor: pointer;
            }

            &.toggled
            {
                .toggle
                {
                    svg
                    {
                        transform: rotate(180deg);
                    }
                }
            }

            &:not(.toggled)
            {
                .furigana, .translation, .notes
                {
                    display: none;
                }
            }
        }
    }
}
