@font-face {
	font-family: "GNU FreeMono";
	src: url("assets/fonts/FreeMono.ttf");
}

@font-face {
	font-family: "GNU FreeMonoBold";
	src: url("assets/fonts/FreeMonoBold.ttf");
}

:root
{
	--background: #16161e;
	--foreground: #b9bde7;
}

*
{
	margin: 0;
	padding: 0;
	font-family: "GNU FreeMono";
	color: var(--foreground);
}

#fishin
{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 10vh;
	opacity: 0.1;
}

body
{
	background-color: var(--background);
	margin: 40px;
	font-size: 20px;
}

b
{
	font-family: "GNU FreeMonoBold";
}

a
{
	text-decoration: none;
	color: #9a7256;
}

a:hover
{
	color: #eea66a;
}

h3
{
	margin-top: 40px;
}

tab
{
	display: inline-block;
	width: 8ch;
}
