@font-face {
	font-family: "Inter";
	src: url(./assets/Inter-Regular.ttf);
}

:root {
	--blue: #4d78cc;
	--border: 1px solid rgba(0, 0, 0, 0.2);
	--box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	--pixel-scale: 4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter";
	font-size: 15px;
	font-weight: normal;
	color: inherit;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #eee;
}

svg {
	--size: 1.5em;
	width: var(--size);
	height: var(--size);
	fill: inherit;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 10px 25px;
	border: none;
	border-radius: 25px;
	background-color: var(--blue);
	color: #fff;
	fill: #fff;
	cursor: pointer;
}

span {
	color: #aaa;
}

/* ==================================================
	header
================================================== */

header {
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	background-color: #333;
	color: #fff;
}

#map-name {
	background: none;
	outline: none;
	border: none;
	border-bottom: var(--border);
	border-color: #fff;
	padding: 5px;
	text-align: center;
	color: inherit;
}

/* ==================================================
	main
================================================== */

main {
	position: relative;
	display: flex;
	user-select: none;
}

aside {
	position: relative;
	z-index: 10;
	width: 300px;
	min-width: 300px;
	height: calc(100vh - 75px);
	overflow-y: scroll;
	background-color: #fff;
}

aside section h2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	cursor: pointer;
	background-color: var(--blue);
	color: #fff;
	fill: #fff;
}

aside section .content {
	display: none;
}

aside section.open .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 15px;
}

aside section label {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

aside section input {
	width: 100%;
	padding: 10px;
	border: var(--border);
	outline: none;
}

.selection {
	position: relative;
	display: flex;
	width: calc(64px * var(--pixel-scale));
}

.selection .selector {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(16px * var(--pixel-scale));
	height: calc(16px * var(--pixel-scale));
	box-shadow: 0 0 0 3px cyan;
	pointer-events: none;
}

.selection img {
	width: 100%;
	image-rendering: pixelated;
}

#map {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100vw - 300px);
	height: calc(100vh - 75px);
}

#map canvas {
	position: absolute;
	image-rendering: pixelated;
	box-shadow: var(--box-shadow);
	background-color: #fff;
}

#tools {
	position: absolute;
	top: 15px;
	left: 315px;
	display: flex;
	gap: 15px;
	padding: 15px;
	border-radius: 25px;
	box-shadow: var(--box-shadow);
	background-color: #fff;
}

#tools svg {
	padding: 10px;
	border-color: #fff;
	border-radius: 50%;
	box-sizing: content-box;
	cursor: pointer;
}

#tools svg:hover {
	background-color: #eee;
}

#erase.active {
	fill: red !important;
}

#export {
	position: absolute;
	bottom: 15px;
	right: 15px;
}
