.Home
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-m);
	width: 100%;
	max-width: 500px;

	.buttons
	{
		display: flex;
		gap: inherit;
		width: 100%;
	}

	button
	{
		width: 100%;
	}
}
